# Virtual environments
venv/
.venv/

# Environment variables / secrets
.env

# OS junk files
.DS_Store

# Data storage
/data

# Python compiled bytecode  
__pycache__/
*.pyc

# Node.js (frontend)
node_modules/

# logs 
pipeline.log
